<!DOCTYPE html>
<html>
  <head>
    <title>Hospital Manager</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    
  </head>
  <body>

	{{>header}}

	
    <div class="container mt-5">
      <h2>List Patient of Doctor {{nameDoctor}}</h2>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col">Disease</th>
            <th scope="col">Priority</th>
            <th scope="col">specialist</th>
            <th scope="col">Date</th>
            <th scope="col">Insurance</th>
          </tr>
        </thead>
        <tbody id="registered-patients">
          {{#each dataJson}}
            <tr>
              <td>{{this.name}}</td>
              <td>{{this.age}}</td>
              <td>{{this.sick}}</td>
              <td>{{this.priority}}</td>
              <td>{{this.specialist}}</td>
              <td>{{this.date}}</td>
              <td>{{this.insurance}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
      
  <form action="/doctorRoom/delete/{{nameDoctor}}" method="GET">
      <button type="submit" class="btn btn-primary" id="move-btn">Done</button>
  </form>

    </div>
  
  </body>
</html>
