<html>

  <head>
    <title>Hospital Manager</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
  </head>

  <body>

    {{>header}}

    <div class="container mt-5">

      <!-- Tạo biểu mẫu đăng ký bệnh nhân -->
      <form id="register-form" action="/lobby/register" method="POST">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" name = "name" required />
        </div>
        <div class="form-group">
          <label for="age">Age</label>
          <input type="number" class="form-control" id="age" name="age" required />
        </div>
        <div class="form-group">
          <label for="sick">Disease</label>

          <select id="sick" name="sick">
            {{#each diseases}}
              <option>{{this.name}}</option>
            {{/each}}
          </select>
        </div>

        <button type="submit" class="btn btn-primary" id="register-btn">Register</button>
      
      </form>

      <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col">Disease</th>
            <th scope="col">Priority</th>
            <th scope="col">specialist</th>
            <th scope="col">Date</th>
          </tr>
        </thead>
        <tbody id="registered-patients">
          {{#each lobbyJson}}
            <tr>
              <td>{{this.name}}</td>
              <td>{{this.age}}</td>
              <td>{{this.sick}}</td>
              <td>{{this.priority}}</td>
              <td>{{this.specialist}}</td>
              <td>{{this.date}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
      
  <form action="/lobby/movePatient" method="POST">
      <button type="submit" class="btn btn-primary" id="move-btn">Move</button>
  </form>

    </div>
  
  </body>

  <script src="/socket.io/socket.io.js"></script>
  <script>
    var socket = io();

    const patients = document.getElementById("registered-patients")

       const renderpatient = function(data){

        patients.innerText = '' ;

        data.map(function(item){

          let tableRow = document.createElement('tr');

          let name = document.createElement('td');
          name.textContent = item.name;

          let age = document.createElement('td');
          age.textContent = item.age

          let sick = document.createElement('td');
          sick.textContent = item.sick;

          let priority = document.createElement('td');
          priority.textContent = item.priority;

          let specialist = document.createElement('td');
          specialist.textContent = item.specialist;

          let date = document.createElement('td');
          date.textContent = item.date;

          tableRow.appendChild(name)
          tableRow.appendChild(age)
          tableRow.appendChild(sick)
          tableRow.appendChild(priority)
          tableRow.appendChild(specialist)
          tableRow.appendChild(date)

          patients.appendChild(tableRow)
        })
       }

       socket.on('register-socket',function(data){
        renderpatient(data)
       })

  </script>

</html>