<!DOCTYPE html>
<html>
  <head>
    <title>Hospital Manager</title>
    <!-- Thêm các liên kết đến tệp CSS và JavaScript của Bootstrap -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
  
  </head>
  <body>

	<div class="container mt-5">
		<h1>Hospital Manager</h1>
		<div class="mt-3">
			<a href="/lobby" class="btn btn-primary mr-2">Lobby</a>
			<a href="/reception" class="btn btn-primary mr-2">Reception</a>
			<a href="/doctor" class="btn btn-primary mr-2">Doctor Room</a>
		</div>
	</div>

	
    <div class="container mt-5">
      <h1>Reception</h1>
     
      <hr />

      <h2>Danh sách bệnh nhân đã đăng ký</h2>
     <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col">Disease</th>
            <th scope="col">Priority</th>
            <th scope="col">Expert</th>
            <th scope="col">Date</th>
          </tr>
        </thead>
        <tbody id="registered-patients">
          {{#each receptionJson}}
            <tr>
              <td>{{this.name}}</td>
              <td>{{this.age}}</td>
              <td>{{this.sick}}</td>
              <td>{{this.priority}}</td>
              <td>{{this.expert}}</td>
              <td>{{this.date}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
     
    </div>
  </body>
</html>
